// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
body {
	overflow-x: hidden;
}
p {
	font-family: $bricolage;
	color: white;
}
.main {
	background-color: rgb(224, 224, 224);
	width: 100%;
	height: 1000px;
	-webkit-box-shadow: 10px 10px 23px -7px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 23px -7px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 23px -7px rgba(0, 0, 0, 0.75);
	margin-bottom: 730px;
	@media (min-width: 468px) {
		margin-bottom: 460px;
	}

	@media (min-width: 1025px) {
		margin-bottom: 345px;
	}

	/* Contact baneer */

	#contact-baneer {
		display: none;
	}
	@media (min-width: 768px) {
		#contact-baneer {
			display: block;
			height: 152px;
			width: 100%;
			background: #1d1d1d;
			display: flex;
			flex-direction: row;
			padding: 60px 25px 0 25px;

			font-size: 17px;

			#openning-container {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				flex-basis: 350px;
				position: relative;
				padding: 10px 0;
				&::after {
					content: "";
					height: 60px;
					width: 1px;
					background: $rouge;
					position: absolute;
					right: 0;
				}
				p {
					font-family: $montserrat;
				}
				#openning {
					width: 100%;
				}
				i {
					font-size: 30px;
					color: $rouge;
					margin-right: 20px;
					padding-bottom: 2px;
				}
			}
			#call-number-container {
				display: flex;
				flex-wrap: wrap;
				align-items: center;

				padding: 10px 0;
				padding-left: 50px;
				p {
					font-family: $montserrat;
				}
				#contact-us {
					width: 100%;
				}
				i {
					font-size: 30px;
					color: $rouge;
					margin-right: 20px;
					padding-bottom: 2px;
				}
			}
		}
	}
	@media (min-width: 1024px) {
		#contact-baneer {
			padding: 60px 15% 0 15%;
		}
	}
}
