// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
p {
	font-family: "Montserrat", sans-serif;
}
.bg {
	height: 1000px;
	background-color: rgb(62, 61, 78);
	-webkit-box-shadow: 10px 10px 23px -7px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 23px -7px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 23px -7px rgba(0, 0, 0, 0.75);
	position: relative;
}

@media (min-width: 1024px) {
	.bg {
		margin-bottom: 469.14px;
	}
}
