// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
	display: flex;
	flex-direction: row;
	background-color: $dark_blue;
	height: 100px;
	justify-content: space-between;
	padding: 0 10%;
	img {
		display: block;
		padding: 10px;
	}
	ul {
		display: flex;
		flex-direction: row;
		margin: 0;
		align-items: center;
		li {
			display: flex;
			flex-direction: column;
			&:first-child {
				border-right: 1px solid white;
				margin-right: 20px;
				padding-right: 20px;
			}
			p {
				&:first-child {
					font-size: 30px;
				}
				&:last-child {
					font-weight: 100;
				}
				margin: 0;
				padding: 0;
				font-family: $bricolage;
				font-weight: 300;
				color: white;
				i {
					margin-right: 10px;
					color: $jaune;
					font-size: 25px;
				}
			}
		}
	}
}
